/* Contenedor de controles incluida la barra de reproducción */
.video-controles {
  padding: 10px;
  margin-top: -76.39px;
  position: unset;
  transition: all 0.2s ease;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
}

.video-controles.hide {
  opacity: 0;
  pointer-events: none;
}

/* Info de progreso encima de barra */
.info-progreso {
  display: none;
  position: absolute;
  top: -50px;
  margin-left: -27px;
  font-size: 12px;
  padding: 3px;
  content: attr(data-title);
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100000;
}

/* Contenedor de botones sin la barra de reproducción */
.botones-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botones-izquierda, .controles-volumen{
  display: flex;
  align-items: center;
}

.botones-izquierda {
  color: #fff;
}

.botones-control button:hover::before, .botones-control button:focus::before  {
  display: inline-block;
}

.botones-izquierda button::before {
  right: 0;
  left: 0px;
}

.hrActiva{
  position: absolute;
  bottom: 4px;
  width: 30px;
  left: 6px;
}

.optActiva {
  border: 0;
  height: 4px;
  border-radius: 10px;
  background-color: var(--youtube-red);
}


